doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title Nanshan Sketchbooks
    link(rel="stylesheet" href="dist/style.css")
    link(rel='stylesheet', href='https://fonts.googleapis.com/css2?family=Londrina+Sketch&family=Quicksand:wght@300;400;500;600;700&display=swap')

    //- script(src='js/doodle.js', defer)
  body
    .main-content
      h1(style='font-family: "Londrina Sketch", cursive; font-size: 2rem') 
        | Nanshan Sketchbooks
        small(style='font-family: "Quicksand", sans-serif; font-weight: 500;') :D Choose one!
      
      // deliver to sketchbook.html
      .nanshan-wrapper
        a(href="sketchbook.html")
          .nanshan-notebook
            .notebook-cover
              .notebook-skin Fall 2024
            .notebook-page
        h4 Sep - Dec

      // second book
      .nanshan-wrapper
        a(href="bookWinter.html")
          .nanshan-notebook
            .notebook-cover.blue
              .notebook-skin Winter 2025
            .notebook-page.ruled
        h4 Dec - Jan

      // third book
      .nanshan-wrapper
        a(href="bookSpring.html")
          .nanshan-notebook
            .notebook-cover.yellow
              .notebook-skin Spring 2025
            .notebook-page.squared
        h4 Jan - May

      .nanshan-wrapper
        a(href="bookSummer.html")
          .nanshan-notebook
            .notebook-cover.green
              .notebook-skin Summer 2025
            .notebook-page.dotted
        h4 May - Sep
      
      .image-container 
  
